*.csv text eol=lf
*.md text eol=crlf
*.json text eol=crlf
*.geojson text eol=crlf
*.xml text eol=lf
*.xmp text eol=crlf
LICENSE text eol=crlf
*.gz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.duckdb filter=lfs diff=lfs merge=lfs -text
*.db filter=lfs diff=lfs merge=lfs -text
