project:
  type: website
  output-dir: docs
  render:
  - "*.qmd"
  - "!LICENSE.md"
  resources:
  - "immagini/bollettini-ondate-calore-og.png"

website:
  site-url: "https://ondata.github.io/ondate-calore"
  search: false
  back-to-top-navigation: true
  title: "Bollettini sulle ondate di calore"
  open-graph:
    locale: it_IT
  twitter-card:
    creator: "@ondatait"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - note.qmd


  page-footer:
    border: true
    left: "a cura di [onData](https://www.ondata.it/)"
    right:
      - icon: github
        href: https://github.com/ondata/ondate-calore
    center: "[Licenza](/note.qmd#licenza)"


format:
  html:
    theme: cosmo
    css: styles.css
    toc: true
    code-copy: true
    code-overflow: wrap
    link-external-newwindow: true
    link-external-filter: '^.*ondata\.github\.io/ondate-calore'
    lang: "it-IT"

